@font-face {
  font-family: 'MuseoSansCyrillic-100';
  src: url('MuseoSansCyrillic-100.eot?#iefix') format('embedded-opentype'),  url('MuseoSansCyrillic-100.otf')  format('opentype'),
	     url('MuseoSansCyrillic-100.woff') format('woff'), url('MuseoSansCyrillic-100.ttf') format('truetype'), url('MuseoSansCyrillic-100.svg#MuseoSansCyrillic-100') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrillic-300';
  src: url('MuseoSansCyrillic-300.eot?#iefix') format('embedded-opentype'),  url('MuseoSansCyrillic-300.otf')  format('opentype'),
	     url('MuseoSansCyrillic-300.woff') format('woff'), url('MuseoSansCyrillic-300.ttf')  format('truetype'), url('MuseoSansCyrillic-300.svg#MuseoSansCyrillic-300') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrillic-500';
  src: url('MuseoSansCyrillic-500.eot?#iefix') format('embedded-opentype'),  url('MuseoSansCyrillic-500.otf')  format('opentype'),
	     url('MuseoSansCyrillic-500.woff') format('woff'), url('MuseoSansCyrillic-500.ttf')  format('truetype'), url('MuseoSansCyrillic-500.svg#MuseoSansCyrillic-500') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrillic-700';
  src: url('MuseoSansCyrillic-700.eot?#iefix') format('embedded-opentype'),  url('MuseoSansCyrillic-700.otf')  format('opentype'),
	     url('MuseoSansCyrillic-700.woff') format('woff'), url('MuseoSansCyrillic-700.ttf')  format('truetype'), url('MuseoSansCyrillic-700.svg#MuseoSansCyrillic-700') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrillic-900';
  src: url('MuseoSansCyrillic-900.eot?#iefix') format('embedded-opentype'),  url('MuseoSansCyrillic-900.otf')  format('opentype'),
	     url('MuseoSansCyrillic-900.woff') format('woff'), url('MuseoSansCyrillic-900.ttf')  format('truetype'), url('MuseoSansCyrillic-900.svg#MuseoSansCyrillic-900') format('svg');
  font-weight: normal;
  font-style: normal;
}