@import url('https://fonts.googleapis.com/css?family=Boogaloo|Modak|Nosifer|Permanent+Marker');


    /*font-family: 'Nosifer', cursive;

    font-family: 'Modak', cursive;

    font-family: 'Permanent Marker', cursive;

    font-family: 'Boogaloo', cursive;*/

