@media (max-width: 1650px) {
	.index-content .item {
		width: 33%;
		margin: 0;
		margin-bottom: 8px;
	}

	.header-container {
		padding-bottom: 190px;
	}

	.header-caption {
		margin-top: 100px;
	}
}

@media (max-width: 1359px) {
		h1 {
		font-size: 55px;
	}

	.header-container {
		width: auto;
		padding: 0 15px;
		padding-bottom: 100px;
	}

	.header-img {
		width: 50%;
		height: 85%;
	}

	.header-img img {
		height: 100%;
	}

	.header-caption {
		margin-top: 100px;
	}

	.header-caption p {
		font-size: 45px;
	}

	.header-caption p::first-letter {
	font-size: 55px;
	} 

	.index-content .item .text-block {
		width: 40%;
	}

	.index-content .item .text-block p .caption {
		font-size: 20px;
	}

	.index-content .item .text-block p .text {
		font-size: 17px;
	}

	.footer-menu li a {
		font-size: 16px;
	}
}

@media (max-width: 1023px) {
	.index-content .item {
		width: 100%;
		position: relative;
		margin-bottom: 0;
	}

	.index-content .item:nth-child(n) {
		margin-bottom: 4px;
	}

	.index-content .item:last-child {
		margin-bottom: 0;
	}

	.index-content .item .img-block {
		width: 269px;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		margin-left: auto;
		z-index: 9;
	}

	.index-content .item .text-block p .caption {
		font-size: 44px;
		line-height: 50px;
	}

	.index-content .item .text-block p .text {
		font-size: 35px;
		line-height: 40px;
	}

	.index-content .item .text-block {
		width: auto;
	}

	.index-content .item .item-footer {
		margin-top: auto;
	}

	.footer-menu li a,
	.footer-menu li {
		font-size: 15px;
	}
}

@media (max-width: 992px) {
	.footer-menu li.mobile {
		display: none;
	}
}

@media (max-width: 767px) {
	.header-img {
		height: 45%;
	}

	.logo {
		width: 40%;
	}

	.head .period {
		margin-left: 25px;
	}

	.head .period p span:first-child,
	.head .period p span:nth-child(2),
	.head .period p span:last-child {
		font-size: 20px;
	}

	.header-caption p {
		font-size: 25px;
	}

	h1 {
		font-size: 40px;
	}

	.index-content .item .text-block p .caption {
		font-size: 18px;
		line-height: 22px;
	}

	.index-content .item .text-block p .text {
		font-size: 17px;
		line-height: 21px;
	}

	.index-content .item .img-block {
		width: 100px;
	}

	.index-content .item {
		height: auto;
	}

	.index-content .item .item-footer {
		margin-top: 30px;
		font-size: 14px;
		height: auto;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.index-content .item {
		margin-bottom: inherit;
	}
}