@media (max-width: 1650px) {
	.index-content .item {
		width: 33%;
		margin: 0;
		margin-bottom: 8px;
	}

	.header-container {
		padding-bottom: 190px;
	}

	.header-caption {
		margin-top: 100px;
	}

	.header-img {
		width: 50%;
	}
}

@media (max-width: 1359px) {
		h1 {
		font-size: 55px;
	}

	.header-container {
		width: auto;
		padding: 0 15px;
		padding-bottom: 100px;
	}

	.header-img {
		width: 50%;
		height: 85%;
	}

	.header-img img {
		height: 100%;
	}

	.header-caption {
		margin-top: 40px;
	}

	.header-caption p {
		font-size: 45px;
	}

	.header-caption p::first-letter {
	font-size: 55px;
	} 

	.index-content .item .text-block {
		width: 40%;
	}

	.index-content .item .text-block p .caption {
		font-size: 20px;
	}

	.index-content .item .text-block p .text {
		font-size: 17px;
	}

	.footer-menu li a {
		font-size: 16px;
	}
}

@media (max-width: 1279px) {
	header {
		height: auto;
	}

	.page-container {
		width: 100%;
		padding: 0 15px;
	}

	.page-content .mobileapp h1,
	.page-content .mobileapp .caption,
	.page-content .mobileapp-text,
	.page-content .stage-block .stage p {
		padding: 0;
	}

	.page-content .mobileapp h1 {
		font-size: 55px;
	}

	.page-content .mobileapp-category {
		padding: 0;
	}

	.slider {
		width: 100%;
	}

	.burger-menu {
		width: 100%;
		padding: 0 15px;
	}

	.catalog-content .catalog .item {
		width: 32.5%;
	}

	.catalog-content .catalog .item .item-footer {
		padding: 30px 0 30px 10px;
	}

	.catalog-content .catalog .item .item-footer p {
		font-size: 20px;
	}
}

@media (max-width: 1023px) {
	.index-content .item {
		width: 100%;
		position: relative;
		margin-bottom: 0;
	}

	.index-content .item:nth-child(n) {
		margin-bottom: 4px;
	}

	.index-content .item:last-child {
		margin-bottom: 0;
	}

	.index-content .item .img-block {
		width: 269px;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		margin-left: auto;
		z-index: 9;
	}

	.index-content .item .text-block p .caption {
		font-size: 44px;
		line-height: 50px;
	}

	.index-content .item .text-block p .text {
		font-size: 35px;
		line-height: 40px;
	}

	.index-content .item .text-block {
		width: auto;
	}

	.index-content .item .item-footer {
		margin-top: auto;
	}

	.footer-menu li a,
	.footer-menu li {
		font-size: 15px;
	}

	.burger-menu-textblock ul {
		column-count: 1;
	}

	.burger-menu-textblock {
		width: 50%;
		margin: 0 auto;
	}
}

@media (max-width: 992px) {
	.footer-menu li.mobile {
		display: none;
	}

	.page-content .mobileapp h1 {
		font-size: 40px;
	}

	.page-content .mobileapp .caption {
		line-height: 50px;
	}

	.page-content .stage-block .stage .quotes {
		font-size: 25px;
		line-height: 35px;
		padding: 100px 70px 50px 70px;
	}

	.page-content .stage-block .stage .text {
		font-size: 25px;
		line-height: 40px;
	}

	.page-content .mobileapp-category img {
		width: 30%;
	}

	.page-content .mobileapp-category::after {
		height: 100px;
		top:calc(50% - 50px);
	}
}

@media (max-width: 767px) {
	.header-img {
		width: 60%;
		height: 75%;
	}

	.logo {
		width: 28%;
	}

	.head .period {
		margin-left: 25px;
	}

	.head .period p span:first-child,
	.head .period p span:nth-child(2),
	.head .period p span:last-child {
		font-size: 20px;
	}

	.header-caption p {
		font-size: 24px;
	}																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						

	h1 {
		font-size: 40px;
	}

	.index-content .item .text-block p .caption {
		font-size: 14px;
		line-height: 20px;
	}

	.index-content .item .text-block p .text {
		font-size: 15px;
		line-height: 21px;
	}

	.index-content .item .img-block {
		width: 140px;
	}

	.index-content .item .text-block {
		padding-left: 5px;
	}

	.index-content .item {
		height: auto;
	}

	.index-content .item .item-footer {
		font-family: 'FedraSansPro-Medium';
		font-size: 10px;
		height: auto;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 5px;
	}

	.index-content .item {
		margin-bottom: inherit;
	}

	.burger-menu-textblock ul li.zg a {
		font-size: 20px;
	}

	.burger-menu-textblock ul li a {
		font-size: 18px;
	}

	.burger-menu-textblock .list-block li.zg {
		margin-top: 20px;
	}

	.burger-menu-textblock .list-block li:first-child {
		margin-top: 0;
	}

	.catalog-content .catalog .item {
		width: 49.5%;
	}

	.animated-modal {
		width: 90%;
		margin: 0 auto;
		padding: 30px;
	}

	.animated-modal form .input {
		height: 50px;
	}

	.animated-modal form .input input,
	.animated-modal form .textarea textarea {
		font-size: 20px;
	}

	.animated-modal form .submit {
		width: 100%;
		margin: 20px auto;
	}

	.animated-modal form .submit input {
		font-size: 25px;
	}

	.index-content .item {
		height: 200px;
	}

	footer {
		padding: 15px;
	}
}

@media (max-width: 600px) {
	.page-content .mobileapp h1 {
		font-size: 20px;
	}

	.page-content .mobileapp .caption,
	.page-content .mobileapp-text,
	.page-content .stage-block .stage p:first-child,
	.page-content .stage-block .stage p:nth-child(2),
	.page-content .stage-block .stage .text {
		font-size: 18px;
		line-height: 25px;
	}

	.page-content .stage-block .stage .quotes {
		padding: 45px 30px 30px 30px;
    font-size: 12px;
    line-height: 15px;
		margin: 20px auto;
	}

	.slider {
		padding: 30px 60px;
		margin-top: 20px;
	}

	.slick-prev {
		left: 15px;
	}

	.slick-next {
		right: 15px;
	}

	.page-content .mobileapp-category {
		margin: 20px auto;
	}

	.burger-menu-logo {
		margin-top: 0;
		width: 100%;
		text-align: center;
		text-align: center;
	}

	.burger-menu-logo img {
		width: 100px;
		height: 100px;
	}

	.burger-menu-textblock {
		width: 90%;
		margin-top: 20px;
	}

	.catalog-content .catalog .item {
		width: 100%;
	} 

	.animated-modal {
		width: 100%;
	}

	.animated-modal form h2 {
		font-size: 20px;
	}

	.fancybox-close-small {
		width: 40px;
		height: 40px;
	}

	.animated-modal form .input {
		height: 45px;
		margin-bottom: 10px;
	}

	.animated-modal form .textarea textarea {
		height: 150px;
	}

	.animated-modal form .submit {
		width: 100%;
	}

	.animated-modal form .submit input {
		font-size: 20px;
		height: 68px;
	}
}