@media (max-width: 1279px) {
	.container,
	header .head {
		max-width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}

	header .head .menu li a {
		font-size: 18px;
	}

	header .head .tel a {
		font-size: 16px;
	}

	h1 {
		font-size: 40px;
	}

	.map .info-block {
		right: 5%;
	}

	.reviews-slider .slide {
		/*margin: 0 50px;*/
	}

	.reviews-slider {
		width: 85%;
		margin: 0 auto;
	}

	.reviews-slider .slick-prev {

	}
}

@media (max-width: 1023px) {
	h1 {
		margin: 40px auto 30px auto;
		width: 100%;
		line-height: 40px;
	}

	header {
		padding: 0px 0 30px 0;
	}

	header .head .logo {
		width: 100%;
		text-align: center;
	}

	header .head {
		padding-bottom: 0;
	}

	header .head .menu {
		width: 100%;
		margin-top: 20px;
	}

	header .head .menu ul {
		justify-content: center;
	}

	header .head .head-block .tel {
		margin: 20px auto;
	}

	.aboutme-bg {
		padding: 61px 0 0px 0;
	}

	.aboutme .photo {
		width: 250px;
		margin-bottom: 0;
	}

	.services-block {
		justify-content: space-around;
	}

	.services-block .item {
		width: 30%;
	}

	.usefull-block .item .text {
		font-size: 20px;
	}

	.reviews-slider .slide .text {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
	}

	.reviews-slider .slide .text .review-text {
		width: 100%;
	}

	.nonebox {
		width: 90%;
	}
}

@media (max-width: 767px) {
	header .head .logo {
		padding: 0;
	}

	header .head .menu {
		margin: 20px auto 0 auto;
	}

	header .head .menu li a {
		font-size: 16px;
	}

	h1 {
		font-size: 25px;
		padding: 0 15px;
	}

	.form-bg form {
		width: 90%;
	}

	.form-bg form .caption {
		font-size: 25px;
    	line-height: 25px;
	}

	.desc-wrapper {
		text-align: center;
	}

	.aboutme .photo {
		width: 300px;
		margin: 0 auto;
		float: none;
		display: block;
	}

	.aboutme .name {
		margin-top: 20px;
	}

	.more-info {
		display: block;
		margin: 0 auto;
	}

	.aboutme-bg,
	.services-bg,
	.usefull-bg,
	.reviews-bg {
		padding: 30px 0;
	}

	.services-block .item {
		width: 45%;
	}

	h2 {
		font-size: 40px;
	}

	.services h2,
	.usefull h2,
	.reviews-bg .caption {
		margin: 30px 0;
	}

	.usefull-block .item {
		width: 100%;
		margin-bottom: 30px;
	}

	.reviews-slider .slide .text img {
		display: block;
		margin: 0 auto;
	}

	.reviews-slider .slide .text,
	.reviews-slider .slide .text .info {
		text-align: center;
		margin: 0 auto;
	}

	.nonebox {
		height: 50vh;
		padding: 20px;
	}

	.nonebox .info-block {
		height: 100%;
		overflow-y: auto;
		padding: 20px;
	}

	.nonebox .info-block .caption {
		font-size: 20px;
	}

	.nonebox .info-block ul li {
		font-size: 18px;
		margin: 10px 0;
	}

	a.box-close {
		width: 15px;
		height: 15px;
		background-size: cover;
	}
}

@media (max-width: 419px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}

	header .head .menu li {
		margin: 0 5px;
	}

	header .head .menu li a {
		font-size: 12px;
	}

	h1 {
		font-size: 20px;
		line-height: 25px;
	}

	h2 {
		font-size: 30px;
		margin-bottom: 15px;
	}

	.aboutme .info, .aboutme .text {
		line-height: 20px;
	}

	.services-block .item {
		width: 100%;
		margin-bottom: 30px;
	}

	.services-block .item .text {
		font-size: 18px;
	}

	.map .contacts-caption {
		width: 100%;
		height: auto;
		padding: 15px 0;
		background: rgb(189, 162, 104);
	}

	.map .contacts-caption p {
		font-size: 35px;
	}

	.map .info-block {
		width: 100%;
		top: 50px;
		right: 0;
		left: 0;
	}

	.map .info-block .tel a {
		font-size: 20px;
	}

	.map .info-block .address {
		font-size: 14px;
	}

	.form-bg form {
		width: 100%;
	}

	.form-bg form .caption {
		font-size: 18px;
	}

	.reviews-slider {
		width: 100%;
	}

	.reviews-bg .caption {
		font-size: 30px;
	}

	.nonebox .info-block {
		padding-left: 10px;
	}

	.nonebox .info-block ul {
		padding-left: 20px;
	}
}