
@font-face {
  font-family: 'PFDinDisplayPro-ExtraThin';
  src: url('PFDinDisplayPro-ExtraThin.eot?#iefix') format('embedded-opentype'),  url('PFDinDisplayPro-ExtraThin.woff') format('woff'), url('PFDinDisplayPro-ExtraThin.ttf')  format('truetype'), url('PFDinDisplayPro-ExtraThin.svg#PFDinDisplayPro-ExtraThin') format('svg');
  font-weight: normal;
  font-style: normal;
}
