@font-face {
  font-family: 'KaushanScript-Regular';
  src: url('KaushanScript-Regular.eot?#iefix') format('embedded-opentype'),  url('KaushanScript-Regular.otf')  format('opentype'),
	     url('KaushanScript-Regular.woff') format('woff'), url('KaushanScript-Regular.ttf')  format('truetype'), url('KaushanScript-Regular.svg#KaushanScript-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextCondPro-Italic';
  src: url('PFDinTextCondPro-Italic.eot?#iefix') format('embedded-opentype'),  url('PFDinTextCondPro-Italic.woff') format('woff'), url('PFDinTextCondPro-Italic.ttf')  format('truetype'), url('PFDinTextCondPro-Italic.svg#PFDinTextCondPro-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextCondPro-Light';
  src: url('PFDinTextCondPro-Light.eot?#iefix') format('embedded-opentype'),  url('PFDinTextCondPro-Light.woff') format('woff'), url('PFDinTextCondPro-Light.ttf')  format('truetype'), url('PFDinTextCondPro-Light.svg#PFDinTextCondPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextCondPro-Medium';
  src: url('PFDinTextCondPro-Medium.eot?#iefix') format('embedded-opentype'),  url('PFDinTextCondPro-Medium.woff') format('woff'), url('PFDinTextCondPro-Medium.ttf')  format('truetype'), url('PFDinTextCondPro-Medium.svg#PFDinTextCondPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextCondPro-Regular';
  src: url('PFDinTextCondPro-Regular.eot?#iefix') format('embedded-opentype'),  url('PFDinTextCondPro-Regular.woff') format('woff'), url('PFDinTextCondPro-Regular.ttf')  format('truetype'), url('PFDinTextCondPro-Regular.svg#PFDinTextCondPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}