
@font-face {
  font-family: 'CityFlowersscriptTwo';
  src: url('CityFlowersscriptTwo.eot?#iefix') format('embedded-opentype'),  url('CityFlowersscriptTwo.woff') format('woff'), url('CityFlowersscriptTwo.ttf')  format('truetype'), url('CityFlowersscriptTwo.svg#CityFlowersscriptTwo') format('svg');
  font-weight: normal;
  font-style: normal;
}
