@font-face {
  font-family: 'PTSansRegular';
  src: url('../fonts/PTSansRegular.eot')  format('opentype'),
       url('../fonts/PTSansRegular.woff') format('woff'), url('../fonts/PTSansRegular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSansBold';
  src: url('../fonts/PTSansBold.eot')  format('opentype'),
       url('../fonts/PTSansBold.eot') format('woff'), url('../fonts/PTSansBold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-BoldItalic';
  src: url('../fonts/PTSans-BoldItalic.eot')  format('opentype'),
       url('../fonts/PTSans-BoldItalic.woff') format('woff'), url('../fonts/PTSans-BoldItalic.ttf')  format('truetype'), url('../fonts/PTSans-BoldItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'beermoney';
  src: url('../fonts/beermoney.eot')  format('opentype'),
       url('../fonts/beermoney.woff') format('woff'), url('../fonts/beermoney.ttf')  format('truetype'), url('../fonts/beermoney.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


}
