@font-face {
  font-family: 'PFDinDisplayPro-Light';
  src: url('PFDinDisplayPro-Light.eot?#iefix') format('embedded-opentype'),  url('PFDinDisplayPro-Light.woff') format('woff'), url('PFDinDisplayPro-Light.ttf')  format('truetype'), url('PFDinDisplayPro-Light.svg#PFDinDisplayPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayPro-Regular';
  src: url('PFDinDisplayPro-Regular.eot?#iefix') format('embedded-opentype'),  url('PFDinDisplayPro-Regular.woff') format('woff'), url('PFDinDisplayPro-Regular.ttf')  format('truetype'), url('PFDinDisplayPro-Regular.svg#PFDinDisplayPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayPro-Medium';
  src: url('PFDinDisplayPro-Medium.eot?#iefix') format('embedded-opentype'),  url('PFDinDisplayPro-Medium.woff') format('woff'), url('PFDinDisplayPro-Medium.ttf')  format('truetype'), url('PFDinDisplayPro-Medium.svg#PFDinDisplayPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayPro-Bold';
  src: url('PFDinDisplayPro-Bold.eot?#iefix') format('embedded-opentype'),  url('PFDinDisplayPro-Bold.woff') format('woff'), url('PFDinDisplayPro-Bold.ttf')  format('truetype'), url('PFDinDisplayPro-Bold.svg#PFDinDisplayPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
