
@font-face {
  font-family: 'AABebasNeue';
  src: url('AABebasNeue.eot') format('embedded-opentype'),  url('AABebasNeue.woff') format('woff'), url('AABebasNeue.ttf')  format('truetype'), url('AABebasNeue.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
