@font-face {
  font-family: '21Cent-Bold';
  src: url('21Cent-Bold.eot?#iefix') format('embedded-opentype'),  url('21Cent-Bold.otf')  format('opentype'),
	     url('21Cent-Bold.woff') format('woff'), url('21Cent-Bold.ttf')  format('truetype'), url('21Cent-Bold.svg#21Cent-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '21Cent-BoldItalic';
  src: url('21Cent-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('21Cent-BoldItalic.otf')  format('opentype'),
	     url('21Cent-BoldItalic.woff') format('woff'), url('21Cent-BoldItalic.ttf')  format('truetype'), url('21Cent-BoldItalic.svg#21Cent-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('Montserrat-Light.eot?#iefix') format('embedded-opentype'),  url('Montserrat-Light.woff') format('woff'), url('Montserrat-Light.ttf')  format('truetype'), url('Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  url('Montserrat-Regular.woff') format('woff'), url('Montserrat-Regular.ttf')  format('truetype'), url('Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('Montserrat-Medium.eot?#iefix') format('embedded-opentype'),  url('Montserrat-Medium.woff') format('woff'), url('Montserrat-Medium.ttf')  format('truetype'), url('Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),  url('Montserrat-Bold.woff') format('woff'), url('Montserrat-Bold.ttf')  format('truetype'), url('Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),  url('Montserrat-SemiBold.woff') format('woff'), url('Montserrat-SemiBold.ttf')  format('truetype'), url('Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('Montserrat-Black.eot?#iefix') format('embedded-opentype'),  url('Montserrat-Black.woff') format('woff'), url('Montserrat-Black.ttf')  format('truetype'), url('Montserrat-Black.svg#Montserrat-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
